/* Блок с баннером */
.poster {
  position: relative;
  min-height: 823px;
}

.poster::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("images/background_man.png");
  background-position: right 30px bottom;
  background-repeat: no-repeat;
  background-size: 675px 762px;
  z-index: 0;
}

.poster__title {
  font-size: 150px;
  line-height: 150px;
  font-weight: 900;
  letter-spacing: -0.1em;
  text-transform: uppercase;
}
  
.poster__subtitle {
  font-size: 28px;
  line-height: 50px;
  padding: 0 0 0 100px;
}