.header {
    padding: 30px 0 50px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    flex-direction: row;
    gap:40px
}

.nav__link {
    font-size: 22px;
    line-height: 50px;
    text-transform: uppercase;
}

.nav__link:hover {
    border-bottom: 3px solid #CD06FF;
    color: #cccccc;
}

.nav__link:focus,
.nav__link:active {
    color: #828282;
}

.header__callback {
    padding: 12px 32px;
    border: 3px solid #CD06FF;
    border-radius: 10px;
    font-size: 22px;
    line-height: 30px;
    color: #fff;
    max-height: 55px;
    text-transform: uppercase;
    background-color: transparent;
}

.header__callback:hover,
.header__callback:focus {
    background-color: #6C0287;
    border: 3px solid transparent;
    outline: none;
}

.header__callback:active {
    background-color: #640AA3;
    outline: 1px solid #000;
}