/* Блок с комнатами */  
.room__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 20px;
}

.room__item {
    flex: 0 1 580px;
    padding: 135px 164px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.room__link {
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    z-index: 1;
}
  
.room__item_decor-vibes {
    background-image: url(images/room_vibes.jpg); 
    
}
  
.room__item_decor-wars { 
    background-image: url(images/room_starwars.jpg);
}
  
.room__item_decor-west {
    background-image: url(images/room_west.jpg);
}
  
.room__item_decor-neon {
    background-image: url(images/room_neon.jpg);
}