/* Блок с комнатами */  
.room__item {
    margin-bottom: 60px;
    text-align: center;
    padding: 315px 0;
}
  
.room__item:last-child {
    margin-bottom: 0;
}
  
.room__link {
    display: inline-block;
    vertical-align: baseline;
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
  
.room__item_decor-vibes {
    background-image: url(images/room_vibes.jpg); 
}
  
.room__item_decor-wars { 
    background-image: url(images/room_starwars.jpg);
}
  
.room__item_decor-west {
    background-image: url(images/room_west.jpg);
}
  
.room__item_decor-neon {
    background-image: url(images/room_neon.jpg);
}