.header {
    margin: 146px 0 100px;
    padding: 0;
    background-image: url("../images/background_man.png");
    background-repeat: no-repeat;
    background-size: 675px 762px;
    background-position: right 0 top 61px;
    min-height: 823px; 
  }
  
  .title {
    font-size: 150px;
    line-height: 150px;
    font-weight: 900;
    letter-spacing: -0.1em;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }
  
  .subtitle {
    font-size: 28px;
    line-height: 50px;
    margin: 0;
    padding: 0 0 0 100px;
  }