.title {
    font-size: 150px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
}

.sub-title {
    font-size: 28px;
    line-height: 50px;
}

.room {
    height: 100%;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.header {
    background-image: url("../images/background_man.png");
    background-repeat: no-repeat;
    background-size: 675px 762px;
    background-position: right 0 top 70px;
    min-height: 823px;
}

.room-list {
    list-style: none;
}

.vibes {
    margin: 0;
    padding: 0;
    min-height: 710px;
    background-image: url(../images/room_vibes.jpg);
    background-size: 1180px 710px;

}

.wars {
    margin: 0;
    padding: 0;
    min-height: 710px;
    background-image: url(../images/room_starwars.jpg);
    background-size: 1180px 710px;
}

.west {
    margin: 0;
    padding: 0;
    min-height: 710px;
    background-image: url(../images/room_west.jpg);
    background-size: 1180px 710px;
}

.neon {
    margin: 0;
    padding: 0;
    min-height: 710px;
    background-image: url(../images/room_neon.jpg);
    background-size: 1180px 710px;
}