/* Блок с баннером */
.main {
    margin: 146px 0 0;
}

.banner {
    margin: 0 0 100px;
    background-image: url("../images/background_man.png");
    background-color: aqua;
    background-repeat: no-repeat;
    background-size: 675px 762px;
    background-position: right bottom;
    min-height: 823px;
  }
  
  .banner-title {
    font-size: 150px;
    line-height: 150px;
    font-weight: 900;
    letter-spacing: -0.1em;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }
  
  .banner-subtitle {
    font-size: 28px;
    line-height: 50px;
    margin: 0;
    padding: 0 0 0 100px;
  }

/* Стилизуем блок с комнатами */

.room {
    height: 100%;
    margin: 0 0 100px;
    padding: 0;
  }
  
.room-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.room-item {
    min-height: 710px;
    margin-bottom: 60px;
    text-align: center;
    padding: 275px 0;
}
  
.room-item:last-child {
    margin-bottom: 0;
}
  
.room-link {
    display: inline-block;
    vertical-align: baseline;
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    max-width: 250px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
  
.vibes {
    background-image: url(../images/room_vibes.jpg); 
}
  
.wars { 
    background-image: url(../images/room_starwars.jpg);
}
  
.west {
    background-image: url(../images/room_west.jpg);
}
  
.neon {
    background-image: url(../images/room_neon.jpg);
}

/* Блок бронирования комнат */

.booking {
    margin: 0 0 100px;
}
  
  /* Блок о нас и цитата */
.about {
    margin: 0 0 100px;
}
  
.quote {
    margin: 0;
    padding: 78px 0 0;
    display: flow-root;
}
  
.about-text-p {
    margin: 0 0 28px;
    padding: 0;
}

.about-text-p:last-child {
    margin: 0;
}

  
.quote-text {
    position: relative;
    font-size: 44px;
    line-height: 50px;
    text-transform: uppercase;
    max-width: 1125px;
    margin: 0 0 40px;
    padding: 0 0 0 55px;
    white-space: pre-line;
}
  
  
.quote-text:before {
    position: absolute;
    top: -8px;
    left: 0;
    content: '\201C';
    color: #6C0287;
    font-size: 44px;
    line-height: 50px;
    font-weight: 900;
}
  
.quote-text:after {
    content: ' \201D';
    color: #6C0287;
    font-size: 44px;
    line-height: 50px;
    font-weight: 900;
}
  
.quote-author {
    float: right;
    max-width: 380px;
}
  
.quote-author-img {
    border-radius: 40px;
    float: left;
    margin-right: 30px;
}
  
.quote-author-info {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
    max-width: 380px;
}

/* Блок ответов на вопросы */

.faq {
    margin: 0 0 100px;
}
  
.faq-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.faq-item {
    font-weight: 700;
    font-size: 24px;
    padding: 30px 70px;
    margin-bottom: 20px;
    background-size: 45px 45px;
    background-position: top 50% right 70px;
    background-repeat: no-repeat; 
}
  
.faq-item:nth-child(odd) {
    background-color: #fff;
    color: #1C1A1A;
    background-image: url(../images/open-purple.svg);
}
  
.faq-item:nth-child(even) {
    background-color: #440F51;
    color: #fff;
    background-image: url(../images/open.svg);
}
  
.faq-item:last-child {
    margin-bottom: 0;
}