/* Блок с комнатами */  
.room-item {
    min-height: 710px;
    margin-bottom: 60px;
    text-align: center;
    padding: 275px 0;
}
  
.room-item:last-child {
    margin-bottom: 0;
}
  
.room-link {
    display: inline-block;
    vertical-align: baseline;
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    max-width: 250px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
  
.vibes {
    background-image: url(../images/room_vibes.jpg); 
}
  
.wars { 
    background-image: url(../images/room_starwars.jpg);
}
  
.west {
    background-image: url(../images/room_west.jpg);
}
  
.neon {
    background-image: url(../images/room_neon.jpg);
}