:root {
    --white: #ffffff;
    --black: #000000;
    --bg-violet: #440f51; /* Фиолетовый, применяется в background */
    --input-violet: #6c0287; /* Фиолетовый, применяется преимущественно в input */
    --button-violet: #640aa3; /* Фиолетовый, применяется в кнопках */
    --link-violet: #cd06ff; /* Фиолетовый, применяется в ссылка */
    --bg-light: #eadeed; /* Светлый фон */
    --color-faq-odd: #1c1a1a; /* Цвет текста в блоке FAQ*/
    --focus-nav: #828282; /* Фокус в верхней навигации */
}