/* Форма бронирования комнат */

fieldset,
legend,
label,
input {
    margin: 0;
    padding: 0;
}

.booking {
    background-color: #440F51;
    padding: 80px 0 0;
}

.add-booking__fieldset {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border: none;
}

.add-booking__title {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    font-weight: 700;
}

.add-booking__set {
    display: flex;
    flex-direction: column;
    border: none;
}

.add-booking__label {
    font-size: 22px;
    line-height: 25px;
    padding: 10px 0;
}

.add-booking__input {
    margin-right: 12px;
    width: 200px;
    height: 200px;
}


