/* Блок ответов на вопросы */
  
.faq__item {
    padding: 30px 70px;
    margin-bottom: 20px;
    position: relative;
    font-weight: 700;
    font-size: 24px;
}

.faq__item:nth-child(odd) {
    background-color: #fff;
    color: #1C1A1A;
}

.faq__item:nth-child(even) {
    background-color: #440F51;
    color: #fff;
}
  
.faq__item:last-child {
    margin-bottom: 0;
}

.faq__link {
    display: block;
    transition-duration: 0.6s;
}

.faq__link:focus {
    outline: 3px solid #6C0287;
    outline-offset: 15px;
    border-radius: 10px;
    transition: outline 0.4s linear;
}

.faq__link-odd:after {
    content: '';
    background-image: url(images/open-purple.svg);
    width: 46px;
    height: 46px;
    position: absolute;
    top: 20px;
    right: 70px;
    transition-duration: 0.7s;
}

.faq__link-odd:hover:after {
    content: '';
    background-image: url(images/open-purple-hover.svg);
    transition: background 0.5s linear;
}

.faq__link-odd:active:after {
    content: '';
    background-image: url(images/open-purple-active.svg);
    transition: background 0.5s linear;
}


.faq__link-even:after {
    content: '';
    background-image: url(images/open.svg);
    width: 46px;
    height: 46px;
    position: absolute;
    top: 20px;
    right: 70px;
    transition-duration: 0.7s;
}

.faq__link-even:hover:after {
    content: '';
    background-image: url(images/open-hover.svg);
    transition: background 0.5s linear;
}

.faq__link-even:active:after {
    content: '';
    background-image: url(images/open-active.svg);
    transition: background 0.5s linear;
}