.footer {
    padding: 0 0 10px;
    background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 0 156px;
}

.footer__wrapper-img {
    max-height: 274px;
}


/* Стилизуем блок контактов */
.contact {
    margin: 0 0 40px;
}
  
.contact__item {
    list-style: none;
    margin: 0 0 11px;
}
  
.contact__item:first-child {
    margin: 0 0 38px;
}
  
.contact__item:last-child {
    margin: 0;
}
  
.contact__item_icon-location { 
    background-image: url(images/icon_location.svg);
    background-repeat: no-repeat;
    background-position: top 50% left;
}
  
.contact__item_icon-call {
    background-image: url(images/icon_call.svg);
    background-repeat: no-repeat;
}
  
.contact__item_icon-mail {
    background-image: url(images/icon_mail.svg);
    background-repeat: no-repeat;
}
  
.contact__info {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    font-style: normal;
    padding: 0 0 0 66px;
}

  
.contact__link {
    text-decoration: none;
    color: #fff;
    transition-duration: 0.8s;
}

.contact__link:hover {
    color: #CD06FF;
    transition: color 0.5s ease-out;
}

.contact__link:focus {
    outline:1px solid #CD06FF;
    transition: outline 0.5s ease-out;
}
  
.social__list {
    font-size: 0;
}
  
.social__item {
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    margin: 0 27px 0 0;
}
  
.social__item:last-child {
    margin-right: 0;
}
  
.social__link {
    display: block;
    text-decoration: none;
    color: #fff;
    outline: 1px solid transparent;
    offset: 1px;
    width: 50px;
    height: 50px;
    transition-property: color, outline-color;
    transition-duration: 0.3s, 0.2s;
    transition-timing-function: ease-in-out;
}
  
.social__link:hover {
    color: #EADEED;
}
  
.social__link:focus {
    outline-color: #CD06FF;
    transition: outline 0.4s linear;
}
  
.social__link:active {
    color: #CD06FF;
    outline: none; 
}
/* Блок копирайта */

.copyright {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 16px;
}

.copyright__info {
    text-align: right;
}

.copyright__info-designer {
    padding: 0 0 6px;
}

.copyright__link {
    transition-duration: 0.8s;
}

.copyright__link:hover {
    text-decoration: underline;
    color: #CD06FF;
    transition: text-decoration 0.3s ease-in, color 0.5s ease-out;
}

.copyright__link:focus {
    outline:1px solid #CD06FF;
    transition: outline 0.5s ease-out;
}
  
  