/* Блок о нас и цитата */
.about {
    display: flow-root;
}

.about__img {
    float: left;
    margin: 0 80px 0 0;
}

.about__text {
    margin: 0 0 30px;
    line-height: 30px;
}

.about__text:last-child {
    margin: 0;
}

.quote {
    padding: 59px 0 0;
    margin: 0;
    display: flow-root;
}
  
.quote__text {
    position: relative;
    font-size: 44px;
    line-height: 50px;
    text-transform: uppercase;
    margin: 0 0 40px;
    padding: 0 0 0 31px;
    white-space: pre-line;
}
  
  
.quote__text:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '\201C';
    color: var(--input-violet);
    font-size: 44px;
    line-height: 50px;
    font-weight: 900;
}
  
.quote__text:after {
    content: ' \201D';
    color: var(--input-violet);
    font-size: 44px;
    line-height: 50px;
    font-weight: 900;
}
  
.quote__author {
    float: right;
    max-width: 380px;
}
  
.quote__author-img {
    border-radius: 40px;
    float: left;
    margin-right: 30px;
}
  
.quote__author-info {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
    max-width: 380px;
}